<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
<html lang="en">
<canvas id="canvas" width="600" height="600"> error </canvas>
<head>
<title>luch</title>


<!--link-->


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/zz.css' %}" type="text/css">

<link rel="icon" href= "{% static 'img/favicon.ico' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<!--script-->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!--meta-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<style> img,a[href] { cursor: url(static/img/gun.png), wait; } </style>


</head>
<body>

<audio>
<source src="static/img/1.mp3"></source>
Your browser isn't invited for super fun audio time.
</audio>
<header>
{% include "poll/navbar.html" %}



</header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img style="height:50%;margin-top:-100px" src="{% static 'img/pythonorig.jpg' %}" alt="Image">
        <div class="carousel-caption">
          <h3>Sell $</h3>
          <p>Money Money.</p>
        </div>
      </div>

      <div class="item">
        <img style="height:50%;margin-top:-100px" src="{% static 'img/js_main.jpg' %}" alt="Image">
        <div class="carousel-caption">
          <h3>More Sell $</h3>
          <p>Lorem ipsum...</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div class="container text-center">
    <ul id="navbar">
	   <a href="/script" class="btn btn-dark">Страница скриптов</a>
      <a href="/admin" class="btn btn-dark">Admin</a>
      <a href="/support" class="btn btn-dark">Support / Pagination</a>
       <a href="/unique" class="btn btn-dark">Удаление дубликатов строк</a>
       <a href="/calculator" class="btn btn-dark">Калькулятор</a>
      <a href="/chat" class="btn btn-warning">Чат</a>
      <a href="/basicview" class="btn btn-danger">basic_views</a>
 <button type="button" class="btn btn-lg btn-danger" style="width:244px;border-radius: 3px;" id= "popover" data-toggle="popover" title="Popover title" data-content="It is my firs popover. It's very engaging. Right?">Click to toggle popover</button>
      <script type="text/javascript">
      $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
  <h3 style="color:#ffffff">ОСТАВЛЯЙ КОММЕНТАРИИ ПОСЛЕ ИЗМЕНЕНИЙ</h3>
  <div class="container">

      <div class="row">
      <div class="col-lg-5 ">
        <div class="view overlay z-depth-1-half">
        <div class="well" >
         <h4>Your ip: <b>{{ ip }}</b></h4>
        </div>
            <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="view overlay z-depth-1-half">
        <div class="well">
         <h4>Get or Post : <b>{{ method }}</b></h4>
        </div>
            <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-lg-5">


        <div class="well">
         <p><h4>Your port: <b>{{ name_host }}</b></h4></p>
        </div>
            <div class="mask rgba-white-light"></div>
      </div>
      <div class="col-lg-5">
        <div class="well">
         <p><h4>Your name : <b>{{ user }}</b></h4></p>
            <div class="mask rgba-white-light"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="well">
         <p><h4>Your User Agent : <b>{{ user_agent }}</b></h4></p>
        </div>
            <div class="mask rgba-white-light"></div>
      </div>
    </div>
    </div>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <div class="ct-chart ct-golden-section"></div>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>

<script type="text/javascript" src="{% static 'js/all.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
<script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
</body>

</html>
