<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stena</title>
</head>
<body>
{% for article in articles %}
<h5>{{ article.article_date }}</h5>
<h4><a href="/articles/get/{{ article.id }}">{{ article.article_title }}</a></h4>
<h3>ЛАЙКИ{{ article.article_likes }}</h3>
<h2>{{ article.article_text }}</h2>
<img src="{{ article.article_image.url}}" style="high: 100px;width: 200px">
{%endfor%}
<hr>


<!--<h1>Django Image Uploading</h1>-->
<!--<ul>-->

<!--    <h2>{{ post.title }}</h2>-->
<!--    <img src="{{ post.cover.url}}" alt="{{ post.title }}">-->

<!--</ul>-->






</html>