{% load static %}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Удаление дубликатов</title>
 

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<link rel="icon" href= "{% static 'img/favicon.ico' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
<!--script-->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>
{% include "poll/navbar.html" %}
<div class="container">

<div class="row">
	<div class="col-sm-9">
		<h4 style="color:#ffffff" >Вставте текст для удаление дубликатов</h4>
		<textarea id="strings" type="text" placeholder="
мама
папа
мама
дед
папа" class="form-control" rows="10"></textarea><br/>

<input type="file" id="files" /><br/>

		<input type="button"  id="start" class="btn btn-success" name="delete" value="Удалить дубликаты" />
</div>
</div>

<a download='result.txt'>Download</a>
<script>
function getUnique(s) {
  return [...new Set(s.split("\n"))].join("\n")

}

start.onclick = () => {
  strings.value = getUnique(strings.value)
}

setTimeout(() => {
  strings.value = getUnique(strings.value)
}, 1000)

</script>
<script>
	let file_name = 'Result.txt';
const textarea = document.getElementById('strings');
// editor = CKEDITOR.replace(textarea);
const files = document.getElementById('files');

// Создать файл
function generate_file(data){
    data = new Blob(["\ufeff", [data]], {type:'plain/text'});
    return window.URL.createObjectURL(data);
}

// Прочесть файл
function read_file(file) {
    const reader = new FileReader();
    reader.onload = () => {
        const text = reader.result;
        textarea.value = text;
        // Для CKEditor вместо строчки выше:
        // editor.setData(text);
        make_download(text, file.name);
    };
    reader.readAsText(file);
}

// Создание ссылки для скачивания
function make_download(content, name = file_name){
    const download_link = document.getElementsByTagName('a')[3];
    download_link.innerText = name;
    download_link.download = name;
    download_link.href = generate_file(content);
}

// Вешаем обработчики
files.addEventListener('change', () => {
    read_file(files.files[0]);
    file_name = files.files[0].name;
}, false);

textarea.onchange = e => make_download(textarea.value)
/* Для CKEditor, вместо строчки выше пишем -
editor.on('change', () => {
    make_download(editor.getData())
});
он почему то не хочет работать в сниппетах */


</script>

</body>
<style>
.container{
margin-top: 1px;
       margin-left: 500px;
    margin-right: auto;
}
body {
    margin: 0;
    padding: 0;
	background: url('{% static "img/fon.jpeg" %}');
}
</style>