<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster Shoes</title>
    <meta name="description" content="Best Shoes on Ukraine Лучшая обувь в Украине"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />




</head>
<body>
<section class="hero">
		<header>

            </div>
			<div class="wrapper">

				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="#">Buy</a></li>
						<li><a href="#">Rent</a></li>
						<li><a href="#">Sell</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<a href="#" class="login_btn">Login</a>
				</nav>
			</div>
			<div id="header">
                 <div class="logo1">
                     <a href="ссылка_на_главную">
                <div class="ct-chart ct-golden-section"></div>

                 </a>
				 </div>
			</div>
		</header>

	<footer>

		        <div id='chart_div' style='width: 100%; height: 500px;'></div>

	</footer><!--  end header section  -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<script>
	new Chartist.Line('.chart1', {
    labels: ['День 1', 'День 2', 'День 3', 'День 4', 'День 5'],
        series: [
            [12, 9, 3, 8, 4],
            [2, 1, 4.7, 5.5, 8]
        ]
    }, {
        fullWidth: true,
        chartPadding: {
            right: 50
        }
});
</script>
</body>
</html>


